*
{
    background-image : url("http://ladyvlana.free.fr/images/tutoriel-gimp-complet/tutoriel-gimp-livre-ancien-08.jpg");
  background-repeat : repeat;
}
p
{
  background-color : #a3a38b;
  font-size : 18px;
}
h1
{
  font-size: 40px;
}
td, th {
  border: 2px solid pink;
}
table {
   border-collapse: collapse;
}
